.intro{
    text-align: center;
    margin: 30px;
}
.small{
    font-weight: 400;
}
.mid{
    font-weight: 500;
}
.intro-slideshow{
    width:700px;
    height: 400px;
    margin: 40px 40px 0 25%;
}
.mySlides{
    display:none;
    background: contain;
    height: 100%;
    width: 100%;
}

.box{
    text-align: center;
    margin: 5% 35% 15% 35%;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.facilities{
    margin: 0 10px 10px 10px;
    height: 40%;
}

.facility{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.facility:hover{
    padding: 30px;
}
.facilities-row{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.bigger{
    font-size: 17px;
    font-weight: 700;
}
.smaller{
    font-size: 10px;
    font-weight: 400;
}